body {
  background-color: rgb(25, 30, 100);
}
.header {
  margin-top: 60px;
}
h1 {
  color: white;
  font-style: oblique;
  font-family: initial;
}
input {
  border: solid white 1px;
  padding-left: 10px;
  background: transparent;
  outline: none;
  color: white;
  border-radius: 10px;
}
input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}
button {
  border: none;
  background: transparent;
  outline: none;
}
.movie {
  border: none;
  padding: 20px;
  background-color: transparent;
  cursor: pointer;
}
.movie img {
  border-radius: 10px;
  border: 1px solid white;
}
.movie img:hover {
  transform: scale(1.1);
}

.data {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: monospace;
  font-style: italic;
}
.discription {
  display: flex;
  align-items: flex-start;

  color: white;
}
h5 {
  font-size: 20px;
  font-style: italic;
  font-family: monospace;
  padding: 35px;
}
.modalimg {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.modalimg img {
  border-radius: 10px;
  width: 215px;
}
.iframe {
  display: flex;
  justify-content: center;
}
.popup {
  background-color: rgb(76, 77, 85);
  border-radius: 5px;
}
.cardactors {
  width: 175px;
  height: 345px;
  background: black;
  color: white;
  margin: 10px;
  margin-top: 40px;
}
